<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="contenedor">
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://api.whatsapp.com/send?phone=34660325695" target="_blank"><i (mouseenter)="showElement()" (mouseleave)="hideElement()" class="fa-brands fa-whatsapp"></i></a>
        <div #wp class="wp oculto"> </div>
    </div>
</nav>
