.contacto{
    color: #000000;
    background: radial-gradient(#eee, #f2f2f2FF);
    box-shadow: 0 0 20px rgb(192, 192, 192);
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto .formulario{
    display: block;
}
.contacto .content-form{
    width: 100%;
    padding: 10px;
    position: relative;
}
.contacto .content-form input, .contacto .content-form textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
    resize: none;
}
.contacto .content-form input:focus {
    background: linear-gradient(var(--color-ocuro) 93%, #0099ff);
    color: #fff;
    outline: none;
}
.contacto .content-form textarea:focus {
    background: linear-gradient(var(--color-ocuro) 98.4%, #0099ff);
    color: #fff;
    outline: none;
}
.contacto .content-form input::placeholder, .contacto .content-form textarea::placeholder{
    color: #fff;
}
.contacto #button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000000;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #000000;
    position: relative;
    z-index: 10;
}
.contacto .content-form .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .content-form .info ul{
    list-style: none;
}
.contacto .content-form .info ul li{
    margin-bottom: 20px;
}
.contacto .content-form .info ul li i{
    color: var(--color-primario);
    display: inline-block;
    margin-right: 20px;
}

@media screen and (max-width:700px){
    .contacto{
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .contacto .formulario{
        display: block;
    }
    .contacto .formulario .content-form{
        width: 100%;
    }
}