<div id="contacto" class="contacto container">
    <div class="contenido-seccion">
        <h1 class="titlo-prin">CONTACTO</h1>
        <div class="formulario">
            <!-- Formulario -->
            <div class="content-form">
                <form [formGroup]="contact" (ngSubmit)="enviarCorreo()">
                    <!-- Nombre -->
                    <div class="form-group">
                        <label for="nombre">Tu Nombre</label>
                        <input formControlName="nombre" type="text" id="nombre" class="form-control"
                            placeholder="Tu Nombre">
                        <div *ngIf="hasErrors('nombre', 'required')" class="text-danger">Nombre requerido</div>
                    </div>

                    <!-- Número telefónico -->
                    <div class="form-group">
                        <label for="tef">Número telefónico</label>
                        <input formControlName="tef" type="text" id="tef" class="form-control"
                            placeholder="Número telefónico">
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Dirección de correo</label>
                        <input formControlName="email" type="email" id="email" class="form-control"
                            placeholder="Dirección de correo">
                        <div *ngIf="hasErrors('email', 'required')" class="text-danger">Email necesario</div>
                        <div *ngIf="hasErrors('email', 'email')" class="text-danger">Email inválido</div>
                    </div>

                    <!-- Asunto -->
                    <div class="form-group">
                        <label for="asunto">Asunto</label>
                        <input formControlName="asunto" type="text" id="asunto" class="form-control"
                            placeholder="Asunto">
                        <div *ngIf="hasErrors('asunto', 'required')" class="text-danger">Asunto requerido</div>
                    </div>

                    <!-- Mensaje -->
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea formControlName="mensaje" id="mensaje" class="form-control" rows="5"
                            placeholder="Mensaje"></textarea>
                        <div *ngIf="hasErrors('mensaje', 'required')" class="text-danger">Mensaje requerido</div>
                    </div>

                    <!-- Botón de enviar -->
                    <input id="button" type="submit" value="Enviar Mensaje">
                </form>
            </div>
        </div>
    </div>
</div>