<div class="container">
    <h1 class="titlo-prin">PIPE FIXERS</h1>
    <section class="flex-container">

        <p class="flex-items">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Saepe accusantium odit voluptatum hic sequi sunt, 
            doloribus veritatis, beatae voluptas ut nostrum eaque nobis 
            ducimus distinctio blanditiis similique consequuntur id dolor.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Doloremque perferendis labore, cum nihil ut delectus! 
            Tempora similique sint, dolorum quasi, adipisci quia voluptas, 
            explicabo qui eum minima sunt eveniet? Vero.
        </p>

        <div class="flex-items"></div>

        <p class="flex-items">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Nesciunt iure ullam totam veritatis minima earum id voluptas quis? 
            Asperiores molestias cumque fugit ea nesciunt nisi odit fugiat voluptatem delectus ratione.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Necessitatibus minus accusantium doloremque quas ullam sapiente 
            incidunt non enim molestias esse impedit optio voluptatem facilis beatae, 
            ducimus adipisci labore error dicta.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>

    </section>
     <section>
        <h2 class="titlo-prin">Servicios de Urgencia</h2>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Saepe accusantium odit voluptatum hic sequi sunt, 
            doloribus veritatis, beatae voluptas ut nostrum eaque nobis 
            ducimus distinctio blanditiis similique consequuntur id dolor.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Doloremque perferendis labore, cum nihil ut delectus! 
            Tempora similique sint, dolorum quasi, adipisci quia voluptas, 
            explicabo qui eum minima sunt eveniet? Vero.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Laboriosam, maiores cumque quo dolore velit rerum magnam ut at ipsa, 
            sunt officia. Dignissimos ipsum sit sequi. Ea qui tempora molestiae saepe.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        </p>
    </section>
</div>
